body {
  background: rgba(172, 34, 34, 0.748);
  font: normal 15pt Arial;
}

header {
  color: rgb(255, 255, 255);
  text-align: center;
}

section {
  background: rgba(0, 0, 0, 0.353);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.363);
}

div{
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
  color: rgb(255, 255, 255);
  text-align: center;
  font-style: italic;
}
